@model IEnumerable<OS.ViewModels.OSRef>

@{
    Layout = "";
}

@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="form-group well well-sm">
            <div class="col-md-12">
                <span class="label label-default pull-right delref" onclick="DeleteUploadFile('@item.OSNo','@item.OSScope','@item.FileName');">x</span>
            </div>
            <div class="col-md-12">
                <img src="@Url.Content(item.FilePath + item.FileName)" class="img-thumbnail" width="350" height="350" />

            </div>
            <div class="col-md-12">
                <textarea class="form-control" rows="3" id="c_@item.FileName" style="resize: none;" onblur="UpdateRefFileComment('@item.OSNo','@item.OSScope','@item.FileName',this);">@item.Comment</textarea>
            </div>
        </div>
    </div>
}

